// src/styles/_mixins.scss
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
            box-shadow: $shadow;
}