---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import question_bg from "@assets/question-bg.jpg";
---

<section class="faqs">
    <div class="faqs__col">
        <div class="faqs__ctx">
            <p class="faqs__ctx__subtitle">
                Skilled Professionals, Superior Care
            </p>
            <h1 class="faqs__ctx__title">
                Everything You Need to Know About Our Services
            </h1>
        </div>

        <div class="faqs__accordion">
            <div class="faqs__accordion__item">
                <div class="faqs__accordion__item__question">
                    <Icon name="bi:plus-lg" size="22" />
                    <h4>How do I book an appointment?</h4>
                </div>
                <div class="faqs__accordion__item__answer">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Nulla, iste adipisci. Nobis modi sed molestias qui dolor quia 
                    facere maxime? Perferendis, sapiente officiis? Illo, 
                    repellendus.
                </div>
            </div>
            <div class="faqs__accordion__item">
                <div class="faqs__accordion__item__question">
                    <Icon name="bi:plus-lg" size="22" />
                    <h4>Do you offer online consultations?</h4>
                </div>
                <div class="faqs__accordion__item__answer">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Nulla, iste adipisci. Nobis modi sed molestias qui dolor quia 
                    facere maxime? Perferendis, sapiente officiis? Illo, 
                    repellendus.
                </div>
            </div>
            <div class="faqs__accordion__item">
                <div class="faqs__accordion__item__question">
                    <Icon name="bi:plus-lg" size="22" />
                    <h4>What should i bring to my appointment?</h4>
                </div>
                <div class="faqs__accordion__item__answer">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Nulla, iste adipisci. Nobis modi sed molestias qui dolor quia 
                    facere maxime? Perferendis, sapiente officiis? Illo, 
                    repellendus.
                </div>
            </div>
            <div class="faqs__accordion__item">
                <div class="faqs__accordion__item__question">
                    <Icon name="bi:plus-lg" size="22" />
                    <h4>How long does a consultation take?</h4>
                </div>
                <div class="faqs__accordion__item__answer">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Nulla, iste adipisci. Nobis modi sed molestias qui dolor quia 
                    facere maxime? Perferendis, sapiente officiis? Illo, 
                    repellendus.
                </div>
            </div>
        </div>
    </div>

    <Image class="faqs__bg" src={question_bg} alt="question" />
</section>

<script is:inline type="module">
    document.addEventListener('DOMContentLoaded', () => {
        const accordionItems = document.querySelectorAll('.faqs__accordion__item');

        accordionItems.forEach(item => {
            const question = item.querySelector('.faqs__accordion__item__question');
            question.addEventListener('click', () => {
                // Toggle the active class on the item
                item.classList.toggle('active');
            });
        });
    });
</script>

<style lang="scss" scoped>
    @use "@/styles/variables" as *;

    .faqs{
        padding: 8rem 12rem;
        display: flex;
        gap: 2rem;
        align-items: center;

        &__col{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        &__ctx{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            &__subtitle{
                font-size: 0.9rem;
                font-weight: 500;
                font-style: italic;
                color: $secondary-color;
            }

            &__title{
                font-size: 3rem;
                font-weight: 500;
                line-height: 2ch;
                width: min(45rem, 100%);
            }
        }

        &__accordion{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            &__item{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                overflow: hidden;

                &__question{
                    border: 1px solid $gray-color-1;
                    background-color: $gray-color;
                    padding: 1.5rem;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    user-select: none;

                    >h4{
                        font-size: 1.1rem;
                        font-weight: 600;
                    }
                }

                &__answer{
                    border: 1px solid $gray-color-1;
                    font-size: 0.9rem;
                    overflow: hidden;
                    max-height: 0;
                    opacity: 0;
                    padding: 1.5rem;
                    display: none;
                    transition: all 0.3s ease;
                }

                &.active {
                    .faqs__accordion__item__answer {
                        max-height: 20rem;
                        opacity: 1;
                        display: block;
                    }
                }
            }
        }

        &__bg{
            width: 35rem;
            height: 35rem;
            object-fit: cover;
        }
    }
</style>