---
import Layout from "@layouts/Layout.astro";
---

<Layout>
	<h1>ABOUT PAGE (STATIC SITE)</h1>

    <a href="/">Home Page</a>
    <a href="/admin">Admin Page</a>
    <a href="/contact">Contact Page</a>
</Layout>