---
import Layout from "@layouts/Layout.astro";
export const prerender = false; //On demand SSR, disables static pre-rendering on this page

export async function get() {
  await new Promise((resolve) => setTimeout(resolve, 5000)); // Delay for 3 seconds
  return new Response(JSON.stringify({ message: "Delayed response" }), { status: 200 });
}
---

<Layout>
	<h1>ADMIN PAGE (SERVER GENERATED)</h1>

    <a href="/">Home Page</a>
    <a href="/about">About Page</a>
    <a href="/contact">Contact Page</a>
</Layout>