---
import Layout from "@layouts/Layout.astro";
---

<Layout>
	<h1>HOME PAGE (STATIC SITE)</h1>
	
	<a href="/admin">Admin Page</a>
	<a href="/about">About Page</a>
	<a href="/contact">Contact Page</a>
</Layout>