---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <section class="register">
        <div class="register__el">
            <h1 class="register__el__title">
                Register
            </h4>
            <p class="register__el__text">
                Already have a Healthcare account?
                <a href="/login">Login to Healthcare</a> to access our systems.
            </p>
            <form class="register__el__form">
                <div class="register__el__form__group">
                    <label for="name">Full Name</label>
                    <p>Your first and last name as stated on your national ID</p>
                    <input name="name" type="text" placeholder="John Doe" required>
                </div>
                <div class="register__el__form__group">
                    <label for="phone">Phone Number</label>
                    <input name="phone" type="text" placeholder="0705908765" required>
                </div>
                <div class="register__el__form__group">
                    <label for="email">Email Address</label>
                    <input name="email" type="email" placeholder="johndoe@gmail.com" required>
                </div>
                <div class="register__el__form__group">
                    <label for="password">Password</label>
                    <input name="password" type="password" placeholder="Enter your password" required>
                </div>
                <button class="register__el__form__btn" type="submit">
                    Register Now
                </button>
            </form>
        </div>
    </section>
</Layout>

<style lang="scss" scoped>
    @use "@/styles/variables" as *;

    .register{
        min-height: 100vh;
        padding: 8rem 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__el{
            width: 30rem;
            padding: 2rem;
            background-color: $gray-color;
            border: 1px solid $gray-color-1;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            &__title{
                font-size: 1.8rem;
                font-weight: 500;
            }

            &__text{
                font-size: 0.9rem;

                a{
                    color: $primary-color;
                    font-weight: 500;
                    text-decoration: underline;
                }
            }

            &__form{
                display: flex;
                flex-direction: column;
                gap: 2rem;

                &__group{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    > label{
                        font-size: 0.8rem;
                        font-weight: 500;
                    }

                    > p{
                        font-size: 0.7rem;
                    }

                    input{
                        padding: 1rem;
                        border: 1px solid $gray-color-1;
                        font-family: inherit;

                        &::placeholder{
                            opacity: 0.65;
                        }

                        &:focus{
                            transition: all 50ms linear;
                            outline: 1px solid $primary-color;
                        }
                    }
                }

                &__btn{
                    height: 3rem;
                    background-color: $primary-color;
                    color: $white-color;
                    border: 1px solid transparent;
                    font-size: 0.8rem;
                    font-weight: 400;
                    letter-spacing: 0.1ch;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover{
                        background-color: $secondary-color;
                        cursor: pointer;
                        transition: all .2s ease;
                    }
                }
            }
        }
    }
</style>