---
import { Image } from "astro:assets";

import vision_01 from "@assets/about-us/vision-1.png";
import vision_02 from "@assets/about-us/vision-2.png";
---

<section class="vision">
    <div class="vision__row">
        <div class="vision__row__ctx">
            <p class="vision__row__ctx__subtitle">
                Leading the Future of Healthcare
            </p>
            <h4 class="vision__row__ctx__title">
                Providing Accessible Quality, and Innovative Medical Solutions
            </h4>
            <p class="vision__row__ctx__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Deserunt dolores ab molestias, maiores mollitia consequatur!
            </p>
            <a class="vision__row__ctx__btn" href="/">
                Learn More About Us
            </a>
        </div>

        <Image class="vision__row__img-1" src={vision_01} alt="vision-1" />
    </div>

    <div class="vision__row">
        <Image class="vision__row__img-2" src={vision_02} alt="vision-2" />
    </div>
</section>

<style lang="scss" scoped>
    @use "@/styles/variables" as *;

    .vision{
        padding: 8rem 12rem;
        display: flex;
        flex-direction: column;
        background-color: $gray-color;

        &__row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            &__ctx{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                &__subtitle{
                    font-size: 0.9rem;
                    font-weight: 500;
                    font-style: italic;
                    color: $secondary-color;
                }

                &__title{
                    font-size: 3rem;
                    font-weight: 500;
                    line-height: 2ch;
                    width: min(45rem, 100%);
                }

                &__btn{
                    align-self: baseline;
                    width: 14rem;
                    height: 3rem;
                    background-color: $primary-color;
                    color: $white-color;
                    border: 1px solid transparent;
                    font-size: 0.8rem;
                    font-weight: 400;
                    letter-spacing: 0.1ch;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover{
                        background-color: $secondary-color;
                        cursor: pointer;
                        transition: all .2s ease;
                    }
                }
            }

            &__img-1{
                width: 35rem;
                height: 25rem;
                object-fit: contain;
            }

            &__img-2{
                width: 25rem;
                height: 30rem;
                object-fit: contain;
                border: 1px solid red;
            }
        }
    }
</style>