---
import { Image } from "astro:assets";

import service_01 from "@assets/service-1.jpg";
import service_02 from "@assets/service-2.jpg";
import service_03 from "@assets/service-3.jpg";
---

<section class="services">
    <p class="services__subtitle">Our Services</p>
    <h1 class="services__title">
        Providing Expert Medical Care for a Healthier You
    </h1>
    <div class="services__grid">
        <div class="services__grid__col">
            <Image src={service_01} alt="service-1" />
            <div class="services__grid__col__badge">
                <span>General Consultation</span>
            </div>
        </div>
        <div class="services__grid__col">
            <Image src={service_02} alt="service-2" />
            <div class="services__grid__col__badge">
                <span>Emergency Care</span>
            </div>
        </div>
        <div class="services__grid__col">
            <Image src={service_03} alt="service-3" />
            <div class="services__grid__col__badge">
                <span>Diagnostic & Laboratory</span>
            </div>
        </div>
    </div>
    <div class="services__row">
        <p class="services__row__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Quaerat officia quo modi perspiciatis vel vitae minus. Repudiandae 
            quia ut laboriosam!
        </p>
        <a class="services__row__btn">
            Explore All Services
        </a>
    </div>
</section>

<style lang="scss" scoped>
    @use "@/styles/variables" as *;

    .services{
        padding: 8rem 12rem;
        background-color: $gray-color;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &__subtitle{
            font-size: 0.9rem;
            font-weight: 500;
            font-style: italic;
            color: $secondary-color;
        }

        &__title{
            font-size: 3rem;
            font-weight: 500;
            line-height: 2ch;
            width: min(45rem, 100%);
        }

        &__grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 2rem;
            margin-top: 2rem;

            &__col{
                position: relative;
                
                img{
                    width: 100%;
                    height: 25rem;
                }

                &__badge{
                    position: absolute;
                    top: -1.8rem;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1;
                    background-color: $white-color;
                    padding: 0.8rem;
                    width: 80%;
                    text-align: center;
                    font-weight: 500;
                    border: 1px solid $gray-color-1;
                }
            }
        }

        &__row{
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__text{
                width: min(40rem, 100%);
            }

            &__btn{
                width: 14rem;
                height: 3rem;
                background-color: $primary-color;
                color: $white-color;
                border: 1px solid transparent;
                font-size: 0.8rem;
                font-weight: 400;
                letter-spacing: 0.1ch;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover{
                    background-color: $secondary-color;
                    cursor: pointer;
                    transition: all .2s ease;
                }
            }
        }
    }
</style>