<section class="hero">
    <h1 class="hero__title">Hello, Richard</h1>
    <p class="hero__subtitle">Home - Admin</p>
</section>

<style lang="scss" scoped>
    @use "@/styles/variables" as *;

    .hero{
        padding: 8rem 12rem;
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(rgba(212, 246, 250, 0.6), rgba(212, 246, 250, 0.7)), url(@/assets/about-us/hero.jpg) no-repeat center center / cover;

        &__title{
            font-size: 3rem;
            font-weight: 500;
        }

        &__subtitle{
            font-size: 0.8rem;
        }
    }
</style>